*{
    margin: 0;
    padding: 0;
}

:root{
    --texto1: #000000;
    --lista: #81a5c2; 
    --lista-color:black;
    --background: #bbdefb;
    --header:rgb(70, 112, 167);
    --menu: white;
    --lista-background:#90caf9;
    --nav:rgb(136, 136, 173);
    --blocao:#F5F5DC;

}
body {
    font-family: Arial, sans-serif;
    background-color: var(--background); 
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--texto1);
    padding: 10px;
    background-color: var(--header);
  
}

.menu {
    position: relative;
    
}

.menu-button {
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    height: 70px;
    
}

.menu-list {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: var(--lista); 
    color: var(--texto1);
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.menu-list li {
    padding: 5px 10px;
}

.menu-list a {
    text-decoration: none;
    display: block;
}

.menu-list a:hover {
    background: var(--lista-background);
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--menu);
    margin: 10REM;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 60%;
    
}


.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    padding: 10px; 
    width: 100%; 
    font-size: 16px; 
}

.material-icons {
    cursor: pointer;
    color: var(--texto1);
    margin-left: 10px;
}
nav {
    padding: 10px;
    text-align: center;
    margin-left: -100px; 
    font-size: 20px; 
    cursor: pointer; 
    padding-right: 50px;
}
 nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
 }
 nav ul li {
    display: inline;
    margin: 5px;
 }
 nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
 }
 nav ul li a:hover {
    background-color: var(--lista); 
    border-radius: 5px;
 }
 @media (max-width: 600px) {
    nav ul {
        flex-direction: column; 
        align-items: center; 
    }
}
.Portfólio {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #08126d;
    flex-direction: column;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
.materias{
    font-size: 2.4rem;

}
footer{
    background-color: var(--lista);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}
.blocao {
    background-color:var(--blocao) ;
    border-radius: 5px;
    border-color: #81a5c2;
    height: auto;
    width: auto;
   margin-left: 50px;
   margin-right: 50px;
   padding: 20px;
   transition: transform 0.3s ease;
}
.blocao:hover {
    transform: scale(1.2); / aumenta 20% ao passar o mouse */
  }
